<turbo-frame id="ca-trends">
    <h2>Tendances</h2>
    <div class="ca-chart"
         data-controller="chart"
         data-chart-dates-value="{{ dates }}"
         data-chart-views-value="{{ views }}"
         data-chart-visitors-value="{{ visitors }}">
    </div>
</turbo-frame>
